{%  extends 'base.html' %}
  {% load static %}
    {% load template_tags %}

  {% block title %} {{ quarter }} {% endblock title %}


{% block content %}

    <div class = "">
        {{ quarter }}
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Student</th>
                    <th>Department</th><th>Dept. Ethics Avrg.</th><th>Dept. Time</th>
                    <th>Ethics Avrg all Dept.</th>
                    <th>Total Time all Dept.</th>
                </tr>
            </thead>
            <tbody>
                {% for student_summary in student_summaries %}
                    <tr>
                        <td rowspan="{{ student_summary.department_summaries|length}}">
                            <a href="{% url 'student_page' userid=student_summary.student.user.id %}">
                                {{ student_summary.student }}
                            </a>
                        </td>
                        {% with student_summary.department_summaries.0 as first_department %}
                            <td>{{ first_department.department }}</td>
                            <td>{{ first_department.average|floatformat:2}}%</td>
                            <td>{{ first_department.department_time }}</td>
                        {% endwith %}
                        <td rowspan="{{ student_summary.department_summaries|length }}">
                            {{ student_summary.total_average|floatformat:2 }}%
                        </td>
                        <td rowspan="{{ student_summary.department_summaries|length }}">
                            {{ student_summary.total_time }}
                        </td>
                    </tr>
                    {% for department_summary in student_summary.department_summaries|slice:"1:" %}
                        <tr>
                            <td>{{ department_summary.department }}</td>
                            <td>{{ department_summary.average|floatformat:2}}%</td>
                            <td>{{ department_summary.department_time }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}