{%  extends 'base.html' %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% load group_tags %}

  {% block title %} Update instructor {% endblock title %}


{% block content %}

<div class="card card-body mt-2 padding">

    <form action=""  method="POST">
        {% csrf_token %}
        <p> Are you sure you want to delete <i>{{ school_year }} </i> school year? <br>
            The operation can not be undone and all data connected with this school year will be lost.

        <a class ="btn btn-sm btn-ISEIblue3" onclick="history.back()"> Cancel </a>
        <input class="btn btn-sm btn-danger" type='submit' value ='Confirm'>

    </form>
</div>

<script>

</script>

{% endblock content %}
