{%  extends 'base.html' %}
{% load i18n %}
  {% load static %}
  {% load crispy_forms_tags %}



  {% block title %} Add Grade {% endblock title %}

{% block content %}

    {% if grade.vc_comment %}
         <div class = "row mt-3 col spanred">
         {{ grade.vc_comment }}
         </div>
    {% endif %}
    {% if error_messages %}
         <div class = "row mt-3 col spanred">
         {{ error_messages }}
         </div>
    {% endif %}

    <div class = "row mt-3">
    <div class="col-sm-auto">
        <table class="table-sm mb-3">
            <td>
                <tbody>
                    <tr><th scope="row">Quarter</th><td>{{ grade.quarter }}</td></tr>
                    <tr><th scope="row">Department</th><td>{{ grade.department }}</td></tr>
                    <tr><th scope="row">Type</th><td>{{ grade.get_type_display }}</td></tr>
                    <tr><th>Date Evaluated</th><td>{{ grade.evaluation_date }}</td></tr>
                    <tr><th scope="row">Instructor</th><td>{{ grade.instructor.last_name }}, {{ grade.instructor.first_name }}</td></tr>
                </tbody>
            </td>
            <td>
                <tr><th scope="row">Student</th><td>{{ grade.student.user.last_name }}, {{ grade.student.user.first_name }}</td></tr>
                <tr><th scope="row">Level</th><td>{{ grade.level }}</td></tr>
            </td>
        </table>

    </div>

    <div class="col-sm-auto mt-2">
        <form method = "POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-sm-auto">
                    <table>
                        <thead>
                            <tr>
                                <th>Ethic
                                    <br> <span class="span80blue"> *Hover over Ethic to see description </span>
                                </th>
                                <th>Grade (1-5)</th>
                                {% if grade.type == "S" %}
                                    <th style="text-align: center"> Comment <div class="spanred">*required for scores of 1, 2 or 5</div></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {{ ethic_formset.management_data }}
                            {{ ethic_formset.management_form }}
                            {% for form in ethic_formset %}
                                {{ form.non_field_errors }}

                                <tr>
                                    <td>
                                        <div class="tooltip" style="color: #053A64">{{ form.instance.ethic.name }}
                                             <span class="tooltiptext">{{ form.instance.ethic.description }}</span>
                                        </div>
                                        <!--
                                        { { form.instance.ethic.name }}
                                        <a href="{ % url '' form.instance.ethic.description %}"
                                           target="popup" class="mypopup"> <i class="fa-solid fa-circle-info"></i> </a>
                                        -->

                                    </td>
                                    <td>{{ form.score}}
                                        {{ form.score.errors}}</td>
                                    {% if grade.type == "S" %}
                                        <td>{{ form.comment}}{{ form.comment.errors}}</td>
                                    {% endif %}
                                </tr>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if grade.type == "F" %}
                    <div class="col-sm-auto">
                        {{ formative_comments_form|crispy }}
                    </div>
                {% endif %}
                    <div class="col-sm-auto">
                        <div class="row mt-2">
                            Time ({{ grade.quarter.school_year.gradesettings.get_time_unit_display}})
                            {{ time_form.time}}
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <div class="row mt-2">
                                    Average: <strong><div id="averageScore"></div></strong>
                                </div>
                                <div class="row mt-2">
                                    Percent: <strong><div id="percent"></div></strong>
                                </div>
                            </div>
                            {% if grade.type == "S" %}
                                 <div class="col">
                                     {{ time_form.suggested_level|as_crispy_field }}
                                 </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="mt-5" > {{ student_discussion_form|crispy }}</div>
                        </div>
                    </div>
            </div>


            <div class="row align-content-right">
                <div class="col text-left">
                    <input class = "btn btn-sm btn-outline-ISEIblue3 mt-3" name="save_c" type= "submit" value = "Save and Add Next Grade">
                    <input class = "btn btn-sm btn-outline-ISEIblue3 mt-3" name="save_r" type= "submit" value = "Save and Return to Grade List">
                    <br>
                </div>
            </div>
        </form>
        <div class="row align-content-center">
            <div class="col text-left">
                <form method = "GET">
                    {% csrf_token %}
                    <input class ="btn btn-sm btn-outline-danger mt-3" name="delete_add" type="submit" value="Delete and Return to Grade Entry">
                    <input class ="btn btn-sm btn-outline-danger mt-3" name="delete_list" type="submit" value="Delete and Return to Grade List">
                </form>
            </div>
        </div>

    </div>
    </div>
<script>

$(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    // Select all the score and comment fields within the formset
    var scoreFields = $('input[name$="score"]');
    var commentFields = $('textarea[name$="comment"]');

    // Function to update the comment field's required attribute based on the score
    function updateCommentRequired() {
        scoreFields.each(function (index) {
            var scoreValue = parseInt($(this).val()); // Get the score value as an integer
            var commentField = commentFields.eq(index);

            // Check if the score is 1, 2, or 5 and update the required attribute accordingly
            if ([1, 2, 5].includes(scoreValue)) {
                commentField.prop('required', true);
            } else {
                commentField.prop('required', false);
            }
        });
    }

    // Call the function initially
    updateCommentRequired();

    // Attach an event listener to the score fields to update the comment requirement
    scoreFields.on('input', updateCommentRequired);

//calculate average score
    function updateAverageScore(){
        var totalScore = 0;
        var count = 0;

        // Loop through each score input field
        $("input[name$='score']").each(function(){
            var score = $(this).val();

            // If score is not empty, add it to totalScore and increase the count
            if(score){
                totalScore += parseFloat(score);
                count++;
            }
        });

        var averageScore = totalScore/count; // Calculate average
        var percent;

        // Perform calculation if averageScore is not NaN
        if (!isNaN(averageScore)) {
            percent = Math.round((48.0294 * Math.pow(1.1571, averageScore) + 0.4) * 10) / 10;
        } else {
            percent = 'N/A';
        }

        // Display percent with 1 decimal point if a number, otherwise display 'N/A'
        $('#percent').text(percent === 'N/A' ? percent : percent + '%');

        $('#averageScore').text(isNaN(averageScore) ? 'N/A' : averageScore.toFixed(2)); // Display average with 2 decimal points
    }

    // Call updateAverageScore whenever there's a change in any score input field
    $("input[name$='score']").change(updateAverageScore);

    updateAverageScore(); // Call updateAverageScore when the page is loaded
});

</script>


{% endblock %}
