{%  extends 'base.html' %}
{% load i18n %}
  {% load static %}
  {% load crispy_forms_tags %}

  {% block title %} Add Skill Grade {% endblock title %}

{% block content %}
    <div class = "row mt-3">
        <div class="col-sm-auto">
        <h6>Skill Grade</h6>
        <table class="table-sm mb-3">
            <td>
            <tbody>
                <tr><th scope="row">Quarter</th><td>{{ grade.quarter }}</td></tr>
                <tr><th scope="row">Date</th><td>{{ grade.evaluation_date }}</td></tr>
                <tr><th scope="row">Department</th><td>{{ grade.department }}</td></tr>
                <tr><th scope="row">Instructor</th><td>{{ grade.instructor.last_name }}, {{ grade.instructor.first_name }}</td></tr>
            </tbody>
            </td>
            <td>
                <tr><th scope="row">Student</th><td>{{ grade.student.user.last_name }}, {{ grade.student.user.first_name }}</td></tr>
                <tr><th scope="row">Level</th><td>{{ grade.level }}</td></tr>
            </td>
        </table>

                <form method = "GET">
                    {% csrf_token %}
                    <input class ="btn btn-sm btn-outline-danger mt-3" name="delete_add" type="submit" value="Delete and Return to Grade Entry"><br>
                    <input class ="btn btn-sm btn-outline-danger mt-3" name="delete_list" type="submit" value="Delete and Return to Skill Grade List">
                </form>

    </div>

        <div class="col-sm-auto mt-2">
        <form method = "POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-sm-auto">
                    <table>
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ skill_formset.management_data }}
                            {{ skill_formset.management_form }}
                            {% for form in skill_formset %}
                                {{ form.non_field_errors }}
                                <tr>
                                    <td>{{ form.instance.skill.name }}</td>
                                    <td>{{ form.score}}{{ form.score.errors}}</td>
                                </tr>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row align-content-center">
                <div class="col ">
                    <input class = "btn btn-sm btn-outline-ISEIblue3 mt-3" name="save_c" type= "submit" value = "Save and Add Next Skill Grade"><br>
                    <input class = "btn btn-sm btn-outline-ISEIblue3 mt-3" name="save_r" type= "submit" value = "Save and Return to Skill Grade List">
                    <br>
                </div>
            </div>
        </form>
    </div>

        <div class="col-sm-auto">
            <table class="table table-sm">
  <thead>
    <tr>
      <th>Skill Name</th>
        <th>Scores <br> <span class="span80">Evaluation Dates</span></th>
    </tr>
  </thead>
  <tbody>
    {% for skill_id, skill_data in result_dict.items %}
    <tr>
      <td>{{ skill_data.skill_name }}</td>
      <td>
        {% for grade in skill_data.grades %}
          {{ grade.score }} (<span class="span80">{{ grade.evaluation_date }})</span><br>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        </div>
    </div>
<script>


</script>


{% endblock %}
