{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% load group_tags %}


  {% block title %} Grades {% endblock title %}


{% block content %}

    {% if no_grade_settings_message %}
        <p class="error">{{ no_grade_settings_message }}</p>
    {% endif %}

<div class="col-sm-auto">
    <!-- show/hide previous school year grades
    <div class="row noprint">
        <div class="col">
            <div class="text-left mt-2">
                { % if all %}
                    <a class="btn btn-sm btn-outline-ISEIblue3" href="{ %  url 'grade_list' request.user.id %}">Show grades for current school year only</a>
                { % else %}
                    <a class="btn btn-sm btn-outline-ISEIblue3" href="{ %  url 'grade_list_all' request.user.id %}">Show grades from all school years</a>
                { % endif %}
            </div>
        </div>
    </div-->

<!--filter -->
    <div class="row noprint">
        <div class="card-body">
            <form method="get" id="filterForm" onchange="this.form.submit()">
                    {{ filter.form.as_table}}
               <!-- <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp; -->
                <a href="{%  url 'grade_list' request.user.id %}">Clear all filters</a>
            </form>
        </div>
    </div>
</div>

    {% for message in messages %}
        {%  if message.tags == "info" %}
            <div class="alert-warning spangreen" role="alert" >{{message}}</div>
        {% else %}
            <div class="alert-warning spanred" role="alert" >{{message}}</div>
        {% endif %}
    {% endfor %}


<!-- Pagination -->
    <div class="row pagination text-center">
        <span class="col step-links">
            {% if page_obj.has_previous %}
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page=1">&laquo; First</a>
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
<br>

<!-- Grades -->
    <div class="row col">
         {% include "vocational/grades.html" %}
    </div>

<!-- Pagination -->
    <div class="row pagination text-center">
        <span class="col step-links">
            {% if page_obj.has_previous %}
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page=1">&laquo; first</a>
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">&lsaquo; previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">next &rsaquo;</a>
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

<!-- Student Assignments -->
     <div class="col-sm-auto card-body pl-5">
        <table class="table" style="width: auto">
        <thead>Student Assignments</thead>
            <tbody>
                    <tr>
                        <td><button class="btn btn-sm btn-outline-ISEIblue3 span80 quarter_button" id={{ selected_quarter.id }}>{{ selected_quarter }}</button>
                            <table class = "table" id="quarter_table{{ selected_quarter.id }}" style="display: none;">
                            {% for a in selected_quarter.studentassignment_set.all %}
                               <tr>
                                    <td>{{ a.department }}</td>
                                    <td>{%  for i in a.student.all %}
                                        {{ i.user.last_name }}, {{ i.user.first_name }} <br>
                                    {% endfor %}</td>
                               </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
            </tbody>
        </table>
 </div>



    <script>

    $('.quarter_button').on("click", function() {
            var id=$(this).attr('id');
            $('#quarter_table'+id).toggle('fast');
    });

    $('input').on("change", function() {
            $('#filterForm').submit();
        });
    $('select').on("change", function() {
            $('#filterForm').submit();
        });

    </script>

{% endblock %}
