{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% load group_tags %}


  {% block title %} Grades {% endblock title %}


{% block content %}

<div class="col-sm-auto">
    <!-- show/hide previous school year grades -->
    <div class="row noprint">
        <div class="col">
            <div class="text-left mt-2">
                {% if all %}
                    <a class="btn btn-sm btn-outline-ISEIblue3" href="{%  url 'grade_list' request.user.id %}">Show grades for current school year only</a>
                {% else %}
                    <a class="btn btn-sm btn-outline-ISEIblue3" href="{%  url 'grade_list_all' request.user.id %}">Show grades from all school years</a>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="text-right mt-2">
                {% if request.user|in_group:"vocational_coordinator" %}
                    <a class="btn btn-sm btn-outline-danger" href="{% url 'vc_unvalidate_grades' request.user.profile.school.id %}"> Unvalidate Grades </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!--filter -->
    <div class="row noprint">
        <div class="card-body">
            <form method="get" id="filterForm" onchange="this.form.submit()">
                    {{ filter.form}}
               <!-- <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp; -->
                <a href="{%  url 'grade_list' request.user.id %}">Clear all filters</a>
            </form>
        </div>
    </div>
</div>


    <div class="row col-sm-auto">
   {% include "vocational/grades.html" %}



 <div class="col-sm-auto card-body pl-5">
        <table class="table" style="width: auto">
            <tbody>
                {% for q in quarter %}
                    <tr><b>{{ q }}</b></tr>
                            <table class = "table">
                            {% for a in q.studentassignment_set.all %}
                               <tr>
                                    <td>{{ a.department }}</td>
                                    <td>{%  for i in a.student.all %}
                                        {{ i.user.last_name }}, {{ i.user.first_name }} <br>
                                    {% endfor %}</td>
                               </tr>
                            {% endfor %}
                            </table>
                {% endfor %}
            </tbody>
        </table>
 </div>
    </div>

    <script>

    $('input').on("change", function() {
            $('#filterForm').submit();
        });
    $('select').on("change", function() {
            $('#filterForm').submit();
        });

    </script>

{% endblock %}
