
  {% load static %}
{% load group_tags %}
{% load template_tags %}

<div>
    <table class="table table-sm table table-bordered" style="width: auto">
        <thead>
            <tr><th></th>
                <th>Quarter</th><th>Student</th><th>Department</th><th>Instructor</th>
                <th>Type</th><th>Grade</th><th>Score</th>
                {% if grades.first.student.user.profile.school.id|track_time %}
                    <th>Time</th>
                {% endif %}
                <th>Student Discussed</th> <th>VC Validated</th>
                <th>Date</th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for g in grades %}
                <tr class="bg-light">
                    <td> {% if request.user|in_group:"vocational_coordinator" or not g.vc_validated %}<a href="{% url 'finalize_grade' g.id %}"> Edit </a> {% endif %}</td>
                    <td>{{ g.quarter.get_name_display }}
                    <br> <div class="span80">{{ g.quarter.school_year }}</div>
                    </td>
                    <td>{{ g.student }} <br>
                        <span class="span80">{{ g.student.vocationalstatus.vocational_level }}</span>
                    </td>
                    <td>{{ g.department }}</td><td>{{ g.instructor.last_name }}, {{ g.instructor.first_name }}</td>
                    <td>{{ g.get_type_display }}<br><span class="span80">{{ g.level }}</span></td>
                    <td>{{ g.percent }}%</td><td>{{ g.score }}</td>
                    {% if grades.first.student.user.profile.school.id|track_time %}
                        <td>{{ g.time }} {{ g.quarter.school_year.GradeSettings.get_time_unit_display}}</td>
                    {% endif %}
                    <td>{% if g.student_discussed %}
                            {{ g.student_discussed}}
                        {% else %}
                            <a href="{% url 'finalize_grade' g.id %}" class="spanyellow"> Discuss </a>
                        {% endif %}
                    </td>
                    <td> {% if g.vc_validated %} Yes
                         {% else %}
                            <span class="spanyellow">Not yet</span>
                        {% endif %}
                    </td>
                    <td>{{ g.evaluation_date }}<br><div class="span80">{{ g.created_at }}</div></td>
                    <td> <input type="button" class="detailbtn btn btn-sm btn-outline-ISEIblue4 span80 noprint" value ="Show Details" id={{ g.id }}> </td>
                </tr>
                {% if g.vc_comment %}
                    <tr>
                        <td colspan="12">
                            {% if g.vc_validated %}
                                 {{ g.vc_comment }}
                            {% else %}
                                <span class="spanred">{{ g.vc_comment }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <td colspan="12">
                    <div class="card card-body" id="details{{ g.id }}" style="display: none;">
                        {% if g.type == "S" %}
                        <table class="table-sm span80 table-nostriped table-bordered" >
                            <thead>
                                <tr>
                                    {% for i in g.ethicssummativegrade_set.all %}
                                        <th>{{ i.ethic.name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for i in g.ethicssummativegrade_set.all %}
                                        <td>{{ i.score }}</td>
                                    {% endfor %}
                                </tr>
                                <tr><th colspan="11">Comments:</th> </tr>
                                {% for i in g.ethicssummativegrade_set.all %}
                                    {% if i.comment %}
                                        <tr>
                                        <td>{{ i.ethic.name }}</td>
                                        <td colspan="10">{{ i.comment }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                         <table class="table-sm w-auto span80 table-nostriped table-bordered">
                            <thead>
                                <tr>
                                    {% for i in g.ethicsformativegrade_set.all %}
                                        <th>{{ i.ethic.name }}</th>
                                    {%  endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for i in g.ethicsformativegrade_set.all %}
                                        <td>{{ i.score}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="2"><b> Commendations:</b> </td>
                                    <td colspan="8">
                                        {{ g.commendation }}
                                    </td></tr>
                                <tr>
                                    <td colspan="2"><b> Recommendations:</b> </td>
                                     <td colspan="8">
                                        {{ g.recommendation }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}

                    {% if g.student_discussion_comment %}
                        <div class="span80">Student discussion Comment: {{ g.student_discussion_comment }}</div>
                    {% endif %}
                    </div>
                </td>

            {% endfor %}
        </tbody>
    </table>

</div>

    <script>
        $('.detailbtn').on("click", function() {
                     var value = $(this).attr('value');
                     var id=$(this).attr('id');
                     if(value == "Show Details") {
                         $("#details"+id).show();
                         $(this).attr('value',"Hide Details"); }
                     if(value == "Hide Details") {
                         $("#details"+id).hide();
                         $(this).attr('value',"Show Details");}
         });
    </script>
