{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}

  {% block title %} Departments {% endblock title %}


{% block content %}

    <table class="table" style="width: auto">
        <thead>
            <tr>
                <th>Department</th>
                <th>Instructor</th>
                <th>
                    <a href="{% url "manage_instructor_assignment" schoolid %}">Edit</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for a in instructor_assignment %}
                <tr>
                    <td>{{ a.department }}</td>
                    <td> {%  for i in a.instructor.all %}
                            {{ i.last_name }}, {{ i.first_name }} <br>
                        {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}