{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% load template_tags %}

  {% block title %} Departments {% endblock title %}


{% block content %}


<form method = "POST">
	{% csrf_token %}
    <div class="card-body">
    <div class="row">
        {{ instructor_formset.management_data }}
        {{ instructor_formset.management_form }}
            {% for form in instructor_formset %}
                <div class="col">
                    {{ form.errors }}
                    {{ form.non_field_errors }}

                    {{ form.department }}<br>
                    <div class="spanred span80 mb-1">{{ form.DELETE}} Remove Department</div>

                    <ul style="list-style-type:none">
                        {% for i in form.instructor %}
                            <li> {{ i }} </li>
                         {% endfor %}
                    </ul>

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </div>
            {% endfor %}
    </div>
         <input class = "btn btn-sm btn-ISEIblue3" type= "submit" name="save" value = "Save">
        <input class = "btn btn-sm btn-ISEIblue3" type= "submit" name="add" value = "Add more departments">
    </div>
</form>



{% endblock %}