{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}

  {% block title %} {{ school_year }} {% endblock title %}


{% block content %}


<form method = "POST">
	{% csrf_token %}

    <div class="row mt-2 mb-2">
        <div class="col-sm-auto"> {{ school_year }} </div>
        {% if school_year.active %}   <div class="col-sm-auto spangreen">Active </div>
        {% else %}
            <div class="col-sm-auto spanred"> Inactive
            <input class = "btn span80" name="active" type= "submit" value = "Make active">
            </div>
        {% endif %}
    </div>

    <div class="col-sm-auto">
    <table class="table" style="width: auto">
        <thead>
            <tr>
                <th>Quarter</th><th>Start Date</th><th>End Date</th><th></th>
            </tr>
        </thead>
        <tbody>
            {{ quarter_formset.management_data }}
            {{ quarter_formset.management_form }}
            {% for form in quarter_formset %}
                {{ form.errors }}
                {{ form.non_field_errors }}
                <tr>
                    <td>{{ form.name }}</td>
                    <td>{{ form.start_date}}</td>
                    <td>{{ form.end_date}}</td>
                </tr>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
        <input class = "btn btn-sm btn-ISEIblue3 mt-3" name="save" type= "submit" value = "Save">
        <a href="{% url 'delete_school_year' schoolid schoolyearid %}" class = "btn btn-sm btn-danger mt-3" > Delete </a>
    </div>
</form>



{% endblock %}