    {%  extends 'base.html' %}
    {% load static %}

{% block title %} Parent Page {% endblock title %}

{% block content %}


        {% for student in children %}

            <div class="card card-body">
                <h6>{{ student.name }}</h6>
                <div class="col">
                    <a class="btn btn-outline-ISEIblue btn-sm mb-3" href="{% url 'student_vocational_info' student.id %}"> Vocational Summary</a> <br>
                    <a class="btn btn-outline-ISEIblue btn-sm" href="{% url 'student_grades' student.id %}"> Ethics Grades</a>
                    <a class="btn btn-outline-ISEIblue btn-sm" href="{% url 'student_skill_grades' student.id %}"> Skill Grades</a>
                </div>
            </div>
        {% endfor %}
    </nav>

{% endblock %}