{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}

  {% block title %} School Year {% endblock title %}


{% block content %}

    <div class="col-sm-auto">
    <table class="table" style="width: auto">
        <thead><th>School Year</th>
        <th>Quarters</th><th></th><th></th>
        <th><a class="btn btn-sm btn-ISEIblue3" href="{% url 'add_school_year' schoolid %}">Add New School Year</a></th>
        </thead>
        <tbody>
            {% for s in school_year %}
                <tr>
                    <td><b>{{ s.name }}</b><br>
                        {% if s.active %} <span class="spangreen"> Active </span>
                        {% else %} <span class="spanred"> Inactive </span> {% endif %}
                        <br> {{ s.start_date }} - {{ s.end_date }}</td>
                    <td>
                        <table class="table-sm table-borderless">
                            {% for q in s.quarter_set.all|dictsort:"name" %}
                                <tr>
                                    <td> {{ q.get_name_display }} </td><td> </td>
                                    <td style="text-align: right"> {{ q.start_date }} -</td>
                                    <td>{{ q.end_date }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td><a href="{% url 'manage_school_year' schoolid s.id  %}">Manage School Year</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}