{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% load group_tags %}


  {% block title %} Skill Grades {% endblock title %}


{% block content %}

     {% if error_message %}
        <div class="card card-body mt-2 mb-2">
            <span class="spanred">{{ error_message }}</span>
        </div>
    {% endif %}

        <head>
        <title>Skill Scores</title>
        </head>
    <body>

    <div class="row">
            <div class="col">
                <a class="btn-outline-ISEIblue4 btn-sm btn" href="{% url 'skill_grade_list_by_student' department_id %}" style="float: right;">List By Student</a>
            </div>
    </div>

    {% for skill, student_scores in skill_scores.items %}
            <div class="row">
                <h6>{{ skill }}</h6>
            </div>
            <div class="row">
                <div class="container-sm">
                    <table class="table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student, scores_and_dates in student_scores.items %}
                            <tr>
                                <td>{{ student }}</td>
                                {% if scores_and_dates %}
                                    <td>
                                    <table class="">
                                        {% for score, evaluation_date in scores_and_dates %}
                                           <tbody>
                                            <tr>
                                                <td>{{ score }}</td>
                                                <td>{{ evaluation_date }}</td>
                                            </tr>
                                           </tbody>
                                        {% endfor %}
                                    </table>
                                    </td>
                                {% else %}
                                    <td colspan="2"> - </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
    {% endfor %}
</body>


    <!--
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Student</th>
            <th>Score</th>
            <th>Evaluation Date</th>
        </tr>
    </thead>
    <tbody>
        {% for skill, student_scores in skill_scores.items %}
            {% if student_scores %}
                {% for student, scores_and_dates in student_scores.items %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ student_scores|length|add:1 }}">{{ skill }}</td>
                        {% endif %}
                        <td>{{ student }}</td>
                        <td>{{ scores_and_dates.0.0 }}</td>
                        <td>{{ scores_and_dates.0.1 }}</td>
                    </tr>
                    {% for score, evaluation_date in scores_and_dates|slice:"1:" %}
                        <tr>
                            <td>{{ student }}</td>
                            <td>{{ score }}</td>
                            <td>{{ evaluation_date }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr>
                    <td>{{ skill }}</td>
                    <td colspan="3">No grade records found</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
-->

{% endblock %}
