{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% load group_tags %}


  {% block title %} Skill Grades {% endblock title %}


{% block content %}

    {% if error_message %}
        <div class="card card-body mt-2 mb-2">
            <span class="spanred">{{ error_message }}</span>
        </div>
    {% endif %}

    {% if departments %}
<form method="POST" action="">
  {% csrf_token %}
  <label for="department">Select Department:</label>
  <select id="department" name="department_id">
    {% for department in departments %}
      <option value="{{ department.id }}">{{ department.name }}</option>
    {% endfor %}
  </select>

    <button class="btn btn-sm btn-outline-ISEIblue" type="submit" name="by_skill">Skill Grades by Skill </button>
    <button class="btn btn-sm btn-outline-ISEIblue" type="submit" name="by_student">Skill Grade by Student </button>
</form>
    {% else %}
        <p class="error">It looks like there are no departments assigned to you as an instructor yet. If you think there's been an error, please reach out to your Vocational Supervisor.</p>
    {% endif %}

{% endblock %}
