{%  extends 'base.html' %}

  {% load static %}

 {% block title %}Grades {% endblock title %}

   {% block content %}


<h6 class="mt-3">{{ student.name }}'s Grades</h6>

       <div class="row noprint">
        <div class="card card-body">
            <form method="get" id="filterForm" onchange="this.form.submit()">
                    {{ filter.form}}
               <!-- <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp; -->
                <a href="{%  url 'student_grades' student.id %}">Clear all filters</a>
            </form>
        </div>
    </div>

<div>
    <table class="table table-sm table-striped table-bordered" style="width: auto">
        <thead>
            <tr>
                <th colspan="10" class="text-right">
                <h6> Average: {% if avg %}{{ avg }} % {% else %} <span class="span80">No validated grades yet</span> {% endif %} </h6>
                </th>
            </tr>
            <tr>
                <th>Quarter</th><th>Department</th><th>Instructor</th>
                <th>Type</th><th>Grade</th><th>Score</th><th>Student Discussed</th> <th>VC Validated</th>
                <th>Date</th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for g in grades %}
                <tr>
                    <td>{{ g.quarter.get_name_display }}
                    <br> <div class="span80">{{ g.quarter.school_year }}</div>
                    </td>
                    <td>{{ g.department }}</td><td>{{ g.instructor.last_name }}, {{ g.instructor.first_name }}</td>
                    <td>{{ g.get_type_display }}</td><td>{{ g.percent }}%</td><td>{{ g.score }}</td>
                    <td>{% if g.student_discussed %}
                            {{ g.student_discussed}}
                        {% else %}
                            <a href="{% url 'finalize_grade' g.id %}" class="spanyellow"> Discuss </a>
                        {% endif %}
                    </td>
                    <td>{{ g.vc_validated|default_if_none:"Not yet" }}</td>
                    <td>{{ g.evaluation_date }}<br><div class="span80">{{ g.created_at }}</div></td>
                    <td> <input type="button" class="detailbtn btn btn-sm btn-outline-dark span80 noprint" value ="Show Details" id={{ g.id }}> </td>
                </tr>
                <td colspan="11">
                    <div class="card card-body" id="details{{ g.id }}" style="display: none;">
                        {% if g.type == "S" %}
                        <table class="table-sm span80 table-nostriped table-bordered" >
                            <thead>
                                <tr>
                                    {% for i in g.ethicssummativegrade_set.all %}
                                        <th>{{ i.ethic.name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for i in g.ethicssummativegrade_set.all %}
                                        <td>{{ i.score }}</td>
                                    {% endfor %}
                                </tr>
                                <tr><th colspan="11">Comments:</th> </tr>
                                {% for i in g.ethicssummativegrade_set.all %}
                                    {% if i.comment %}
                                        <tr>
                                        <td>{{ i.ethic.name }}</td>
                                        <td colspan="10">{{ i.comment }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                         <table class="table-sm w-auto span80 table-nostriped table-bordered">
                            <thead>
                                <tr>
                                    {% for i in g.ethicsformativegrade_set.all %}
                                        <th>{{ i.ethic.name }}</th>
                                    {%  endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for i in g.ethicsformativegrade_set.all %}
                                        <td>{{ i.score}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="2"><b> Commendations:</b> </td>
                                    <td colspan="8">
                                        {{ g.commendation }}
                                    </td></tr>
                                <tr>
                                    <td colspan="2"><b> Recommendations:</b> </td>
                                     <td colspan="8">
                                        {{ g.recommendation }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}

                    {% if g.student_discussion_comment %}
                        <div class="span80">Student discussion Comment: {{ g.student_discussion_comment }}</div>
                    {% endif %}
                    </div>
                </td>
            {% endfor %}
        </tbody>
    </table>

</div>

    <script>
        $('.detailbtn').on("click", function() {
                     var value = $(this).attr('value');
                     var id=$(this).attr('id');
                     if(value == "Show Details") {
                         $("#details"+id).show();
                         $(this).attr('value',"Hide Details"); }
                     if(value == "Hide Details") {
                         $("#details"+id).hide();
                         $(this).attr('value',"Show Details");}
         });

        $('input').on("change", function() {
            $('#filterForm').submit();
        });
        $('select').on("change", function() {
            $('#filterForm').submit();
        });
    </script>

{% endblock %}