{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}

  {% block title %} Departments {% endblock title %}


{% block content %}
<!--Add new Assignments Dropdown -->

    {% include 'vocational/student_assignment_head.html' %}


<!-- all assignments by quarter-->
    <div class="row">
        <div class="col-sm-auto">
        <table class="table" style="width: auto">
            <thead>
            </thead>
            <tbody>
                {% for q in quarter %}
                    <tr>
                        <td> {{ q }}
                        </td>
                        <td>
                            <table class = "table-borderless">
                            {% for a in q.studentassignment_set.all %}
                               <tr>
                                   <td>{{ a.department }}</td>
                                    <td>{%  for i in a.student.all %}
                                        {{ i.user.last_name }}, {{ i.user.first_name }} <br>
                                    {% endfor %}</td>
                               </tr>
                            {% endfor %}
                            </table>
                        </td>
                        <td id="cb">
                        <a class="link" type="link" onclick="ChangeHref()" href="{% url "manage_student_assignment" schoolid q.id "1234" %}">Manage Assignments</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
<!--
        <div class="col-sm-auto">
            In managing assignments include:
            <p><input class = "checkbox ml-2" type="checkbox" id="4" name="4" label = "9" checked> 9th grade</p>
            <p><input class = "checkbox ml-2" type="checkbox" id="3" name="3" label = "10" checked> 10th grade</p>
            <p><input class = "checkbox ml-2" type="checkbox" id="2" name="2" label = "11" checked>  11th grade</p>
            <p><input class = "checkbox ml-2" type="checkbox" id="1" name="1" label = "12" checked>  12th grade</p>
        </div>
-->

    </div>

<script>


/*
    var s="1234"

    document.addEventListener('click', function (e) {
    if (e.target.type === 'checkbox') {
        s="";
        if (document.getElementById('4').checked) { s = s +"4" };
        if (document.getElementById('3').checked) { s = s+"3" };
        if (document.getElementById('2').checked) { s = s +"2" };
        if (document.getElementById('1').checked) { s = s +"1" };
    }

    if (e.target.type == 'link') {
        alert(s);
        $('a').each(function(){
        this.href = this.href.replace('1234', s);
    });
    };
}); */


</script>

{% endblock content%}