{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% load group_tags %}

{% block title %} Create School Message {% endblock title %}

{% block content %}
{% load static %}

    <div class="card-body">
        <div class="row">

            <div class="card-body col-lg-12">
                <form method="POST" action ="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="spanred"> <b> Override with:</b> </p>
                    <div class="row mb-2">
                         <div class="col-sm-auto">{{ form.name|as_crispy_field }}</div>
                        <div class="col-sm-auto">{{ form.subject|as_crispy_field }}</div>
                    </div>
                    <div class="mb-4">
                        {{ form.message|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-sm btn-ISEIblue3" name="save"> Save </button>
                     <a class=" btn btn-sm btn-warning" href="{% url "message_list" %}">Cancel</a>
                </form>

            </div>
        </div>
    </div>

{% endblock %}