
<!-- function format_message contains the info that goes here -->

The following information can be included dynamically in your email:
      <ul>
          <li> Recipient's first name, by writing <b>{first_name}</b></li>
          <li> Recipient's last name, by writing <b>{last_name}</b></li>
          <li> Recipient's username, by writing <b>{username}</b></li>
          <!--
          <li> Child's/children's name, if the recipient is the parent, by writing <b>{child}</b></li>
          -->
          <li> The link to the website, by writing <b>{link}</b></li>
      </ul>