{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% load group_tags %}

{% block title %} Contact {% endblock title %}

{% block content %}
{% load static %}

    <div class="card-body">
    <div class="row">

          <div class="alert alert-primary" role="alert">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}

           Email(s) sent to:
          <table class="table">
            {% for u in users %}
                <tr>
                    <td>{{ u.first_name }} {{ u.last_name }}</td>
                    <td> {{ u.email }}</td>
                </tr>
            {% endfor %}
          </table>
          </div>

      </div>
    </div>


</div>

<script>

</script>


{% endblock %}