{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% load group_tags %}

{% block title %} Contact {% endblock title %}

{% block content %}
{% load static %}

<!-- Error Message, Filter, Prewritten messages -->
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
<!--Error Messages -->
                {% if error_message %}
                  <div class="alert alert-primary" role="alert">
                    {{error_message}}
                  </div>
                {% endif %}
<!-- Filer and Prewritten messages -->
                <div class="row">
                    <div class="col-lg-12">
<!-- Filer -->
                        <div>
                            <form method="get">
                                    {{ user_filter.form}}
                                <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp;
                                <a href="{%  url 'send_email' %}">Clear all filters</a>
                            </form>
                        </div>
<!-- Prewritten messages -->
                        <div>
                              <select name="dropdown-menu" id="message_name" style="float:right">
                                    <option> -- Select Pre-written Message -- </option>
                                  {% for message in message_names %}
                                        <option class="dropdown-item" href="#" id="{{ message.id }}" value="{{ message.id }}"> {{message.name }}</option>
                                 {% endfor %}
                              </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if email_form %}
        <form method="POST" action ="" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="row">
                    <div class="col">
                    {{email_form|crispy}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <table class="table">
                    <thead>
                        <tr> <th>User</th><th>Email Address</th><th>Role</th> </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                            <tr>
                                <td><input type="checkbox" name="user_selection" value="{{u.id}}" checked></td>
                               <td>{{ u.profile}}</td> <td>{{ u.email }}</td><td>{{ u|groups }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                        <button type="submit" class="btn btn-sm btn-ISEIblue3">Send Email</button>
                    </div>
                    <div class="col-sm-auto" style="float:right" >
                        {% include 'dynamic_email_content.html' %}
                    </div>
                </div>
        </form>
    {% endif %}




        <div class="col-sm-auto" style="float:right" >
            {% include 'dynamic_email_content.html' %}
        </div>


<script>

    $(document).ready(function () {
        $("#message_name").change(function () {
            var url = "{% url 'get_subject' %}"; //get url of subject matching
            var url2 = "{% url 'get_message' %}";
            var message_id = document.getElementById('message_name').value; //get selected message value
            $.ajax({
                  url: url, // set the url of the request
                  data: {
                        'message_id': message_id      // add the category id to the GET parameters
                  },
                  success: function (data) {   // `data` is the return of the get_subject view function
                      document.getElementById("id_subject").value= data;  // replace the contents of the subject input with the data that came from the server
                  }
              });

            $.ajax({
                  url: url2, // set the url of the request
                  data: {
                        'message_id': message_id      // add the category id to the GET parameters
                  },
                  success: function (data) {   // `data` is the return of the get_subject view function
                      document.getElementById("id_message").value= data;  // replace the contents of the subject input with the data that came from the server
                  }
              });
        });
    });

</script>


{% endblock %}