{%  extends 'base.html' %}

{% block title %} Account {% endblock title %}

{% block content %}

{% load crispy_forms_tags %}
<!-- Profile Picture Style and Hiding forms if they are valid-->
<style>
	.profile-pic{
		max-width: 100px;
		max-height: 160px;
		margin: 0 auto;
		border-radius: 50%;
	}

    {% if teacher_form_valid %}
        .teacherform{ display: none; }
    {% else %}
         .teacherlist{ display: none; }
    {% endif %}

    {% if address_form_valid %}
        .addressform { display: none;}
    {% else %}
        .addresslist{ display: none;}
    {% endif %}

    {% if college_formset_valid %}
        .classform  { display: none;}
    {% else %}
        .classlist  { display: none;}
    {% endif %}

    {% if employment_formset_valid %}
        .employmentform  { display: none;}
    {% else %}
        .employmentlist  { display: none;}
    {% endif %}

</style>

<br>

<div class="card card-body">
    <div class="row">
    <div class = "col">
        {% if application_submitted %}
            <a class=" btn btn-sm btn-ISEIblue4" href="{% url 'teachercert_application' teacher.id %}">Renewal Teacher Certification Application</a>
            <p> *Before reapplying for Teacher Certification please ensure that ALL the information on this page is accurate and up to date, and that the renewal requirements have been met. (See Dashboard) </p>
        {% else %}
            {% if address.address_1 %}
                <p><a class="btn btn-sm btn-ISEIblue4" href="{% url 'teachercert_application' teacher.id %}">ISEI Initial Teacher Certification Application</a></p>
                <p> *Before applying ISEI Teacher Certification please ensure that ALL the information on this page is accurate and up to date. </p>
            {% else %}
                <button class="btn btn-sm btn-ISEIblue4" %}" disabled >ISEI Initial Teacher Certification Application</button><br>
                <span style = "color:red"> *Please fill out the information below, including Teacher Info and Address</span>
            {% endif %}
        {% endif %}
    </div>
    </div>

</div>
<br>
<div class="spanred" align = 'center'> Update one section at a time.</div>
<div class="card card-body">
<!--Teacher info and address -->
    <div class="row">

    <!-- Teacher Info -->
        <div class="col-9">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class = "row">
    <!-- Profile Picture
                    <div class="col-sm-3">
                        { % if request.user.teacher.profile_picture %}
                            <img class="profile-pic" src= "{ {user.teacher.profile_picture.url}}">
                        { % endif %} <br>
                         <p>Change Profile Picture</p>
                        { { teacher_form.profile_picture}}
                    </div>
    -->
    <!-- Teacher Info List -->

                    <div class = 'col-sm teacherlist'>
                        <p> <b>Name:</b> {{ teacher.name }} </p>
                        <p> <b>School:</b> {{ teacher.school.label }}{{ teacher.school }} </p>
                        <input type="button" class="btn btn-sm btn-ISEIblue4" id="showteacher"  value ="Update personal information">
                    </div>
                    <div class = 'col-sm teacherlist'>
                        <p><b>Email address:</b> {{ user.email }}</p>
                        <p><b>Phone number:</b> {{ teacher.phone_number }}</p>
                    </div>
                    <div class = 'col-sm teacherlist'>
                        <p> <b>Date of birth:</b> {{ teacher.date_of_birth }}</p>
                        <p> <b>Teacher_ID:</b> {{ teacher.iseiteacherid|slice:'2:9'}}</p>
                    </div>

    <!-- Teacher Info Form -->
                    <div class = 'col-sm teacherform' >
                        {{ teacher_form.first_name|as_crispy_field }}  <br>
                        {{ teacher_form.middle_name|as_crispy_field }}  <br>
                        {{ teacher_form.last_name|as_crispy_field }}  <br>
                        {{ teacher_form.suffix|as_crispy_field }}
                    </div>
                    <div class = "col-sm teacherform">
                        {{ teacher_form.date_of_birth|as_crispy_field }} <br>
                        {{ user_form.email|as_crispy_field }} <br>
                        {{ teacher_form.phone_number|as_crispy_field }}<br>
                        {{ teacher_form.school|as_crispy_field }} <br>
                        <input class="btn btn-sm btn-ISEIblue4 text-light" type="submit" name="teacher_info" value="Save / Update Teacher Info" >

                    </div>

                </div>
            </form>
        </div>

<!-- address -->
    <!-- address list -->
        <div class="col-3 addresslist" >
            <div class="col-sm">
                <p> <b>Address:</b> {{ address.address_1}} {{ address.address_2}}</p>
                <p>{{ address.city }}, {{ address.state }}, {{ address.zip_code }}, {{ address.country}}</p>
                <input type="button" class="btn btn-sm btn-ISEIblue4" id="showaddress"  value ="Update Address">
            </div>
        </div>
    <!-- address form -->
        <div class="col-3 addressform" >
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="col-sm">
                        {{ address_form.address_1|as_crispy_field }}
                        {{ address_form.address_2|as_crispy_field }}
                        {{ address_form.city|as_crispy_field }}
                    </div>
                    <div class="col-sm">
                         {{ address_form.state|as_crispy_field }}
                         {{ address_form.zip_code|as_crispy_field }}
                         {{ address_form.country|as_crispy_field }}<br>
                        <input class="btn btn-sm btn-ISEIblue4 text-light" type="submit" name="address" value="Update Address" >
                    </div>
            </form>
        </div>

    </div>
</div>
<br>

<!-- Colleges attended -->
<div class = "card card-body">
    <h6> <input type="button" class="btn btn-sm btn-ISEIblue4" id="showclass"  value ="Update"> Colleges Attended List </h6>

     <div class="card card-body" >
         <table class="table classform" width="100%" border="0" cellspacing="0" cellpadding="0">
             <thead>
                <tr>
                    <th class = "span80">Delete</th>
                  <th scope="col">College Name</th>
                  <th scope="col">City, State/Country</th>
                  <th scope="col">Start Date </th>
                  <th scope="col">End Date</th>
                  <th scope="col">Degree Level</th>
                  <th scope="col">Degree Name</th>
                  <th scope="col">Transcript Requested</th>
                </tr>
             </thead>
             <tbody>
                <form method="POST" action="" enctype="multipart/form-data">
                     {% csrf_token %}
                        {{ college_attended_formset.management_data }}
                        {{ college_attended_formset.management_form }}
                  {% for form in college_attended_formset %}
                      {{ form.non_field_errors }}
                    <tr>
                        <td> {{ form.DELETE }}</td>
                        <td>{{ form.name }}<span style ='color:red'>{{ form.name.errors }}</span></td>
                        <td>{{ form.address }}<span style ='color:red'>{{ form.address.errors }}</span></td>
                        <td>{{ form.start_date }}<span style ='color:red'>{{ form.start_date.errors }}</span></td>
                        <td>{{ form.end_date }}<span style ='color:red'>{{ form.end_date.errors }}</span></td>
                        <td>{{ form.level }}<span style ='color:red'>{{ form.level.errors }}</span></td>
                        <td> {{ form.degree }}<span style ='color:red'>{{ form.degree.errors }}</span></td>
                        <td>{{ form.transcript_requested }}<span style ='color:red'>{{ form.transcript_requested.errors }}</span></td>
                    </tr>
                      {% for hidden in form.hidden_fields %}
                         {{ hidden }}
                      {% endfor %}
                  {% endfor %}

                  <tr>
                      <td colspan="2">
                          <input class="btn btn-sm btn-ISEIblue4 text-light" type="submit" name="college_attended" value="Update Colleges Attended List" >
                      </td>
                  </tr>

                </form>
             </tbody>
         </table>
         <table class="table table-sm classlist">
             <thead>
                <tr>
                  <th scope="col">College Name</th>
                  <th scope="col">City, State/Country</th>
                  <th scope="col">Start Date </th>
                  <th scope="col">End Date</th>
                  <th scope="col">Degree Level</th>
                  <th scope="col">Degree Name</th>
                  <th scope="col">Transcript Status</th>
                </tr>
             </thead>

             <tbody>
                {% for college in college_attended %}
                    <tr>
                        <td>{{ college.name }}</td>
                        <td>{{ college.address }}</td>
                        <td>{{ college.start_date }}</td>
                        <td>{{ college.end_date }}</td>
                        <td>{{ college.get_level_display }}</td>
                        <td> {{ college.degree }}</td>
                        <td> {% if college.transcript_requested %}
                                {% if college.transcript_received %}
                                    <span style="color:green">Received</span>
                                {% else %}
                                    <span style="color:#bf6f33">Requested</span>
                                {% endif %}
                            {% else %}
                                <span style="color:red">Not requested</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

             </tbody>
         </table>
     </div>
</div>
<br>

 <!-- Schools of employment-->
<div class = "card card-body">
    <h6> <input type="button" class="btn btn-sm btn-ISEIblue4" id="showemployment"  value ="Update">
        Schools of Employment List</h6>
       <div class="card card-body">
   <!-- Schools of Employment List -->
            <table class="table employmentlist">
                <thead>
                    <tr>
                      <th scope="col">School</th>
                      <th scope="col">City, Country</th>
                      <th scope="col">Start Date </th>
                      <th scope="col">End Date</th>
                      <th scope="col"> Courses taught</th>
                    </tr>
                </thead>

                <tbody >
                      {% for school in school_of_employment %}
                        <tr>
                            <td>{{ school.name }}</td>
                            <td>{{ school.address }}</td>
                            <td>{{ school.start_date }}</td>
                            <td>{{ school.end_date }}</td>
                            <td>{{ school.courses }}</td>
                        </tr>
                      {% endfor %}
                </tbody>
            </table>
 <!-- School of Employment Form -->
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                  {{ school_of_employment_formset.management_data }}
                  {{ school_of_employment_formset.management_form }}

                <table class="table employmentform">
                        <thead>
                            <tr>
                                 <th class="span80">Delete</th>
                              <th scope="col">School</th>
                              <th scope="col">City, Country</th>
                              <th scope="col">Start Date </th>
                              <th scope="col">End Date</th>
                              <th scope="col"> Courses taught</th>
                            </tr>
                        </thead>
                    {% for form in school_of_employment_formset %}
                      {{ form.non_field_errors }}
                        <tbody>
                            <tr>
                                <td>{{ form.DELETE }}</td>
                                <td>{{ form.name }}<div class="spanred" >{{ form.name.errors }}</div></td>
                                <td>{{ form.address }}<span style ='color:red'>{{ form.address.errors }}</span></td>
                                <td>{{ form.start_date }}<span style ='color:red'>{{ form.start_date.errors }}</span></td>
                                <td>{{ form.end_date }}<span style ='color:red'>{{ form.end_date.errors }}</span></td>
                                <td>{{ form.courses }}<span style ='color:red'>{{ form.courses.errors }}</span></td>
                            </tr>
                        </tbody>
                            {% for hidden in form.hidden_fields %}
                             {{ hidden }}
                            {% endfor %}
                    {% endfor %}
                        <tr><td colspan="2">
                            <input class="btn btn-sm btn-ISEIblue4 text-light" type="submit" name="school_of_employment" value="Update Employment School List" >
                        </td></tr>
                </table>
            </form>
    </div>
</div>


{% for message in messages %}
    <p id="messages" style="color:blue">{{message}}</p>
{% endfor %}

<script>
    //show and hide activity entry card
        $('#showemployment').on("click", function() {
             $(".employmentform").show();
             $(".employmentlist").hide();
             $('#showemployment').hide();
        });

        $('#showclass').on("click", function() {
            $(".classform").show();
            $(".classlist").hide();
            $('#showclass').hide();
        });

        $('#showteacher').on("click", function() {
            $(".teacherform").show();
            $(".teacherlist").hide();
            $('#showteacher').hide();
        });

        $('#showaddress').on("click", function() {
            $(".addressform").show();
            $(".addresslist").hide();
            $('#showaddress').hide();
        });


</script>

{% endblock %}