{% load group_tags %}
<!-- Begining of school year flow -->
    <div class="card-body row">
        <h6 class="btn btn-sm btn-outline-ISEIblue3" onclick="" id="year_button_id" style="width:30ch"> New School Year To Do List </h6>
            <table class="table table-responsive table-sm table-borderless" id="year_duty_table" >

<!-- School Admin -->
                <thead><th colspan="3">School Admin</th><th class="">Last Update</th></thead>

                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>
                            <a class=" sa" href="{% url 'email_settings' school_id %}"> Email Settings</a>
                        </td>

                        <td>Ensure that the emailing service is set up correctly</td>
                        <td class="datetime">
                            {% if not school.email_address %}<div class="spanred">Not set up</div>
                            {% else %} {{ school.email_update }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>
                            <a class=" sa" href="{% url 'add_school_year' school_id %}"> Add School Year</a>
                        </td>

                        <td>Add new school year and set up quarters.</td>
                        <td class="datetime"> {{ school_year_update|default_if_none:" " }}</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>
                            <a class=" sa" href="{% url 'manage_school_staff' school_id %}"> Manage Staff</a>
                        </td>

                        <td>
                            Add new staff, mark inactive the staff that is no longer at the school.
                        </td>
                        <td class="datetime">{{ instructor_update|default_if_none:" " }} </td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>
                            <a class=" sa" href="{% url 'manage_students' school_id %}"> Manage Students</a>
                        </td>

                        <td>
                            Add new students, mark as inactive students that are no longer at the school.
                        </td>
                        <td class="datetime"> {{ student_update|default_if_none:" " }}</td>
                    </tr>

 <!-- vocational coordinator -->
                    <tr>
                        <td colspan="3"><b>Vocational Coordinator</b></td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>
                            <a class="vc" href="{% url 'grade_settings' school_id %}"> Manage Grade Settings</a>
                        </td>

                        <td>
                            Edit grade calculation settings for current school year.
                        </td>
                        <td class="datetime"> {% if grade_settings_update %}
                            {{ grade_settings_update|default_if_none:" "}}
                            {% else %} <span class="error">Manage Grade Settings for current school year!</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>
                            <a class="vc" href="{% url 'message_list' school_id %}"> Email Messages</a>
                        </td>

                        <td>
                            Review Email Message Templates
                        </td>
                        <td class="datetime"> {{ message_update|default_if_none:" " }}</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>
                            <a class=" vc" href="{% url 'manage_department' school_id %}"> Edit Departments</a>
                        </td>

                        <td>Add new departments, mark inactive departments. </td>
                        <td class="datetime"> {{ department_update|default_if_none:" "}}</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>
                            <a class=" vc" href="{% url 'manage_instructor_assignment' school_id %}"> Manage Instructors</a>
                        </td>

                        <td>
                            Edit instructor assignment for each department.
                        </td>
                        <td class="datetime"> {{ instructor_assignment_update|default_if_none:""}}</td>
                    </tr>

                </tbody>
            </table>
    </div>
    <div class="card-body row">
            <button class="btn btn-sm btn-outline-ISEIblue3" onclick="" id="quarter_button_id" style="width:30ch"> New Quarter To Do List </button>
            <table class="table table-responsive table-sm table-borderless" id="quarter_duty_table">
                 <thead><th colspan="3">Vocational Coordinator</th><th class="">Last Update</th></thead>
                <tbody>

                <tr>
                    <td></td>
                    <td>
                        <a class=" vc" href="{% url 'student_assignment' school_id %}"> Assign Students</a>
                    </td>
                    <td>
                        Assign students to the departments they will be working at.
                    </td>
                    <td class="datetime"> {% if student_assignment_update  %}
                        {{ student_assignment_update|default_if_none:"" }}
                        {% else %}
                            <span class="error">Assign students to their areas</span>
                        {% endif %}
                    </td>

                </tr>

                </tbody>
            </table>
    </div>

<script>


    $(document).ready(function() {
//toggle lists
        //$('#year_duty_table').hide()
        //$('#quarter_duty_table').hide()

        $('#year_button_id').click(function() {
            $('#year_duty_table').toggle('slow');
        });

        $('#quarter_button_id').click(function() {
            $('#quarter_duty_table').toggle('slow');
        });


        function disable_links(class_name) {
           for (let element of document.querySelectorAll(class_name)) {
               element.setAttribute('style','pointer-events:none; color:gray')
           };
        };

//disable links if user in doesn't have privileges to those pages
       if ("{{ request.user|in_group:"school_admin" }}" === "False") {
           disable_links(".sa");
       };

       if ("{{ request.user|in_group:"vocational_coordinator" }}" == "False") {
           disable_links(".vc");
       };

})



</script>