{% load group_tags %}
<!-- Begining of school year flow -->
    <div class="card-body row">
        <div class="col">

        <h6 class="btn btn-sm btn-outline-ISEIblue4" onclick="" id="year_button_id" style="width:30ch"> New School Year To Do List </h6>
            <table id="year_duty_table" >
                <tbody>
<!-- School Admin -->
                <div>
                <tr>
                    <td colspan="3"><b>School Admin</b></td>
                </tr>
                    <tr>
                        <td>1.</td>
                        <td>
                            <a class="btn btn-sm sa" href="{% url 'add_school_year' school_id %}"> Add School Year</a>
                        </td>
                        <td>Add new school year and set up quarters.</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>
                            <a class="btn btn-sm sa" href="{% url 'manage_school_staff' school_id %}"> Manage Staff</a>
                        </td>
                        <td>
                            Add new staff, mark inactive the staff that is no longer at the school.
                        </td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>
                            <a class="btn btn-sm sa" href="{% url 'manage_students' school_id %}"> Manage Students</a>
                        </td>
                        <td>
                            Add new students, mark as inactive students that are no longer at the school.
                        </td>
                    </tr>
                     <tr>
                        <td>4.</td>
                        <td>
                            <a class="btn btn-sm sa" href="{% url 'school_settings' school_id %}"> Manage Settings</a>
                        </td>
                        <td>
                            Update school specific settings for current school year.
                        </td>
                    </tr>
                </div>

 <!-- vocational coordinator -->
                <div>
                <tr>
                    <td colspan="3"><b>Vocational Coordinator</b></td>
                </tr>
                    <tr>
                        <td>5.</td>
                        <td>
                            <a class="btn btn-sm vc" href="{% url 'manage_department' school_id %}"> Update Departments</a>
                        </td>
                        <td>Add new departments, mark inactive departments. </td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>
                            <a class="btn btn-sm vc" href="{% url 'manage_instructor_assignment' school_id %}"> Manage Instructors</a>
                        </td>
                        <td>
                            Update instructor assignment for each department.
                        </td>
                    </tr>

                </div>

                </tbody>
            </table>
       <!--  </div>
        <div class="col"> -->

            <button class="btn btn-sm btn-outline-ISEIblue4 mt-3" onclick="" id="quarter_button_id" style="width:30ch"> New Quarter To Do List </button>
            <table id="quarter_duty_table">
                <tbody>
                <tr>
                    <td colspan="3 mt-2"><b>Vocational Coordinator</b></td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <a class="btn btn-sm vc" href="{% url 'student_assignment' school_id %}"> Assign Students</a>
                    </td>
                    <td>
                        Assign students to the departments they will be working at.
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>


<script>


    $(document).ready(function() {
//toggle lists
        $('#year_duty_table').hide()
        $('#quarter_duty_table').hide()

        $('#year_button_id').click(function() {
            $('#year_duty_table').toggle('slow');
        });

        $('#quarter_button_id').click(function() {
            $('#quarter_duty_table').toggle('slow');
        });


//disable links if user in doesn't have privileges to those pages
       if ("{{ request.user|in_group:"school_admin" }}" == False) {
           disable_links(".sa");
       };

       if ("{{ request.user|in_group:"vocational_coordinator" }}" == False) {
           disable_links(".vc");
       };

       function disable_links(class_name) {
           for (let element of document.querySelectorAll(class_name)) {
               element.setAttribute('style','pointer-events:none; color:gray')
           };
        };



})



</script>