{%  extends 'base.html' %}
    {% load static %}
    {% load crispy_forms_tags %}

    {% block title %} Add Student {% endblock title %}


{% block content %}


<!-- registering student -->
    <form method="POST" >
        <div class="card card-body mt-2 mb-2 padding">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-auto">

                    <label for="id_first_name" class="control-label requiredField">
                        First name<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                            <input type="text" name="first_name" class="textinput textInput" required="" id="id_first_name" autofocus>
                    </div>
                    {{ form_user.last_name|as_crispy_field  }}
                    {{ form_user.email|as_crispy_field }}
                    {{ form_student.graduation_year|as_crispy_field }}
                       </div>

                <div class="col-sm-auto">
                    {{ form_student.birthday|as_crispy_field }}
                    {{ form_student.gender|as_crispy_field }}
                    <div class="mt-2">{{ form_student.vocational_level|as_crispy_field }}</div>
                     <div style="" > {{ form_user.username|as_crispy_field }}
                        {% if form_user.username.errors %}
                          <div class="text-danger small">
                            {{ form_user.username.errors.0 }}
                          </div>
                        {% endif %}
                     </div>

                   <!-- <div>Edit Username:
                        <div class="mt-2 mb-3"> { { school.abbreviation }}_<input type="text"  id="id_default_username" name="default_username" label = "Default Username" style="border-color: #FFFFFF"></div>
                    </div>
                    <div>Password*</div>{ { form_user.password1 }}<br>
                    { { form_user.password2|as_crispy_field }}
                    <p id="id_password_info" class="spanred"></p>
                    <button type="button" id="id_generate_button" onclick=generate() class="btn-sm span80" style="float:bottom">Generate Username and Password</button><br><br>
                    -->
                </div>

            </div>

        </div>
            <input class="btn-sm btn-ISEIblue3" type="submit" name="save_back" value ="Save"/>
            <input class="btn-sm btn-ISEIblue3" type="submit" name="save_new" value ="Save and add another "/>
            <input class="btn-sm btn-ISEIblue3" type="submit" name="save_add_parent" value ="Save and add parents "/>

            <a class ="btn btn-sm btn-ISEIblue3" onclick="history.back()" style="float:right"> Cancel </a>

        </form>


    <script type="text/javascript">
        window.onload = function(){
            document.getElementById('id_username').tabIndex ="-1";
        };

         /* $('#id_last_name').focusout (function() { */
         function generate() {
            var first_name = $('#id_first_name').val();
            var last_name = $('#id_last_name').val();
            //var s_a = "{{school.abbreviation}}";
            //var s_id ="{{ school.id }}";

            //$('#id_default_username').val(first_name + last_name);
            $('#id_username').val(first_name + last_name);

            //$('#id_password1').val("VEST" + "_" + s_a + "_" + s_id);
            //$('#id_password2').val("VEST" + "_" + s_a + "_" + s_id);
            //document.getElementById('id_password_info').innerHTML = "Default Password: VEST" + "_" + s_a + "_" + s_id ;
        };

        $('#id_last_name').focusout (function() {
            generate();
            //var first_name = $('#id_first_name').val();
            //var last_name = $('#id_last_name').val();
            //var s_a = "{ {school.abbreviation}}";
            //var s_a = "{ {school.school_name_no_spaces}}";
            //$('#id_email').val(first_name + last_name + "@" + s_a + ".org");


        });


       // $('#id_default_username').focusout (function(){
        //    var s_a = "{ {school.abbreviation}}";
          //  var p_u = $('#id_default_username').val();
           // $('#id_username').val(s_a+"_"+p_u);
       // });


</script>

{% endblock content %}
