{%  extends 'base.html' %}
  {% load static %}
  {% load crispy_forms_tags %}

  {% block title %} Email Settings {% endblock title %}


{% block content %}

<div class="card-body row">
    {% if not set_up %}

        <div class="col-sm-auto">
        <p class="spanred"> Please read the info below before registering a new email service!</p>
            <form method = "POST">
            {% csrf_token %}
                {{ email_settings_form|crispy }}
                <input class = "btn btn-sm btn-ISEIblue3 mt-3" name="save" type= "submit" value = "Save Changes">
        </form>
        </div>
    {% else %}
         <div class="col-sm-auto mt-3">

             <p><span style="color:darkblue">{{ email }}</span> email address has been set-up for this school. </p>
            <form method="POST">
                {% csrf_token %}
                <p> Click <button class="btn btn-sm btn-outline-ISEIblue3 btn-sm" name="send" type="submit">Send Trial Email</button> to ensure that the set-up is working correctly. An email should arrive at {{ email }} within a few minutes. </p>
                 <p> If you would like to change the email address, or the email password click
                     <button class="btn btn-sm btn-outline-ISEIblue3" name="edit" type= "submit" value = "Edit">Edit</button>
                </p>

            </form>
            <div>
                {% for message in messages %}
                    {%  if message.tags == "info" %}
                        <div class="alert-warning spangreen" role="alert" >{{message}}</div>
                    {% else %}
                        <div class="alert-warning spanred" role="alert" >{{message}}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

<div class="card-body row">
    {% if not set_up %}
    <!-- set up info -->
    <div class="card-body">
    <span class="spanred">Important!</span>
    <ul>
        <li> The default email host for the VEST app is <b>GMAIL</b>. Therefore, the email used to communicate through this app must also be a GMAIL email address.</li>
        <li> If your school's email is hosted by Google, it qualifies. If not, please sign up for a Google hosted email address. </li>
        <li> For security purposes, the password required is an App Password, <span class="spanred">NOT</span> the regular password used to login to the email account.</li>
    </ul>

    <span>Follow the steps bellow to obtain an Gmail App Password:</span>
    <ol>
        <li>Go to Manage Your Google Account.</li>
        <li>Select Security.</li>
        <li>Under "Signing in to Google", select App Passwords. You may need to sign in. If you don’t have this option, it might be because:
            <ul>
                <li>2-Step Verification is Off.</li>
                <li>2-Step Verification is only set up for security keys.</li>
                <li>You turned on Advanced Protection.</li>
            </ul>
        </li>
        <li>At the bottom, choose "Select app", then select "Other (Custom Name)" and click "Generate" </li>
        <li>The App Password is the 16-character code in the yellow bar on your device.</li>
        <li>Copy that code and paste it in the email password box above. No need to memorize it.</li>
    </ol>
</div>
{% endif %}
</div>


{% endblock %}

{% block footer_javascript %}

{% endblock footer_javascript %}