{%  extends 'base.html' %}
    {% load static %}
    {% load crispy_forms_tags %}

  {% block title %} Admin {% endblock title %}


{% block content %}
<div class="card-body">
    <table class="table col-sm w-auto">
        <thead>
            <tr>
                <th> School</th> <th>School Administrator</th>
            </tr>
        </thead>
        <tbody>
            {% for s in school %}
                <tr>
                    <th>{{ s.name}}</th>
                    <td>
                        <table class="table-sm">
                            {% for a in school_admin %}
                            {% if a.profile.school == s %}
                                <tr>
                                    <td>{{ a.first_name }} {{ a.last_name }}</td>
                                    <td><a class = "iseiblue3" href="{% url 'update_school_staff' a.id  %}">Update</a></td>
                                    <td><a class ="spanred" href="{% url 'delete_school_staff' a.id  %}">Delete</a></td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}