{%  extends 'base.html' %}
    {% load static %}
    {% load crispy_forms_tags %}

  {% block title %} Admin {% endblock title %}


{% block content %}

    <table class="table col-sm-3">
        <thead>
            <tr>
                <th> School</th> <th>School Administrator</th>
            </tr>
        </thead>
        <tbody>
            {% for s in school %}
                <tr>
                    <th>{{ s.name}}</th>
                    <td>
                        {% for a in school_admin %}
                            {% if a.profile.school == s %}
                            <table class="table-sm table-borderless">
                                <tr>
                                    <td>{{ a.first_name }} {{ a.last_name }}</td>
                                    <td><a class = "btn btn-sm iseiblue3" href="{% url 'update_school_staff' a.id  %}">Update</a></td>
                                    <td><a class ="btn btn-sm spanred" href="{% url 'delete_school_staff' a.id  %}">Delete</a></td>
                                </tr>
                            </table>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>



{% endblock %}