{%  extends 'base.html' %}
  {% load static %}
    {% load template_tags %}

  {% block title %} Manage Students {% endblock title %}


{% block content %}
<!-- Buttons -->
    <div class="row d-flex justify-content-between align-items-center">
        {% if active == True %}
            <div class="col-auto">
                <a class = "btn btn-sm btn-ISEIblue3 mt-3 ml-3 mb-3" href="{% url 'add_student' school.id  %} " > Add New Student</a>
            </div>
            <div class="col-auto">
                <div class="dropdown" style ="margin-left: auto" >
                  <button class="btn btn-sm btn-ISEIblue3 mt-3 mr-5 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Manage Student Status
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class = "dropdown-item" href="{% url 'mark_inactive_students' school.id %} " > Mark Students as Inactive</a>
                        <a class = "dropdown-item" href="{% url 'graduate_students' school.id %} "> Mark Graduated Students as Inactive</a>
                        <a class = "dropdown-item" href="{% url 'manage_inactive_students' school.id %} " > Manage Inactive Students</a>
                  </div>
                </div>
            </div>
        {% else %}
            <div class="col-auto">
                <a class = "btn btn-sm btn-ISEIblue3 mt-3 mb-3" href="{% url 'manage_students' school.id  %}" style="float: right"> Manage Active Students </a>
            </div>
        {% endif %}
        <div class="col-auto">
            <a href="{% url 'import_students' school.id %}" class="btn btn-sm btn-outline-ISEIblue4 mt-3">
              Import Student & Parent Info from Excel
            </a>
        </div>
    </div>

<!-- Filter -->
<div class="row">
    <div class="card card-body ">
        <form method="get">
                {{ student_filter.form.as_table }}
            <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp;
            <a href="{%  url 'manage_students' school.id %}">Clear all filters</a>
        </form>
    </div>
</div>

    {% if messages %}
      <ul class="messages">
        {# Show error messages first #}
        {% for message in messages %}
          {% if 'error' in message.tags %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
        {% endfor %}

        {# Then show non-error messages #}
        {% for message in messages %}
          {% if 'error' not in message.tags %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

<!-- table
    <div style="overflow-y: auto; max-height: 800px;"> -->
    <table class="table table-striped" style="white-space: nowrap">
        <thead class="thead-dark">
        <tr><th>#</th>
            <th></th>
            <th>Name <div class="span80">Username</div></th>
            <th>Email</th> <th>Birthday</th><th>Grad Year</th><th>Gender</th>
            <th>Level</th>
                {%  if school.abbreviation == "BMA" %}
                    <th>Class</th>
                {% endif %}
            <th colspan="5" class="text-center">Parents</th><th></th>
        </tr>
        </thead>

        <tbody>
        {% for s in student %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a class = "btn btn-sm btn-link text-ISEIblue3 span80" href="{% url 'update_student' s.user.id  %}">Edit </a>

                    <form method="post" action="{% url 'send_student_email' s.user.id school.id %}"  class="d-block mt-0">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-sm btn-link p-0 spangreen span80"
                                onclick="return confirm('Send welcome email to {{ s.user.get_full_name }}?');">
                            Resend email
                        </button>
                    </form>
                </td>
                <td>{{ s.user.last_name }}, {{ s.user.first_name }}
                    <p class="span80">{{ s.user.username|shortened_username }}</p></td>
                <td>{{ s.user.email }}</td>
                <td>{{ s.birthday }}</td>
                <td>{{ s.graduation_year }} <br> {{ s.grade_level }}</td>
                <td>{{ s.get_gender_display }}</td>
                <td> {% if s.vocationalstatus %}
                    {{ s.vocationalstatus.vocational_level.name }}
                    {% else %} - {% endif %}
                </td>
                {%  if school.abbreviation == "BMA" %}
                    <td>{{ s.vocationalstatus.vocational_class }}</td>
                {% endif %}
                <td colspan="5">
 <!-- parent table -->

                    <table class="table-sm w-100 table-nostriped table-bordered" >
                        {% for p in s.parent.all %}
                            <tr>
                                 <td class="text-right" style="width: 1px">
                                    <div class="col">
                                    <a class="text-ISEIblue span80" href="{% url 'update_parent' p.id %}">Edit</a><br>
                                    <a class ="spanred span80" href="{% url 'delete_parent' p.id s.id %}">Remove</a>
                                    </div>
                                </td>
                                <td class="text-left">{{ p.last_name }}, {{ p.first_name }}<br></td>
                                <td>{{ p.email }}</td> <td>{{ p.profile.phone_number }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle span80" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add Parents
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item span80" href="{% url 'add_parent' s.user.id %} ">Add new parent/guardian</a>
                            <a class="dropdown-item span80" href="{% url "add_parent_from_list" s.user.id "parent" %}">Add from existing parent list</a>
                            <a class="dropdown-item span80" href="{% url "add_parent_from_list" s.user.id "staff" %}">Add from existing staff list</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}