{%  extends 'base.html' %}
  {% load static %}

  {% block title %} Manage Staff {% endblock title %}


{% block content %}
<p>
    {% if active == True %}
        <a class = "btn btn-sm btn-ISEIblue3 mt-3 mb-3" href="{% url 'add_school_staff' school.id  %} " > Add New Staff</a>
        <a class = "btn btn-sm btn-ISEIblue3 mt-3 mb-3" href=" " > Add Staff from Parent List</a>
        <a class = "btn btn-sm btn-ISEIblue3 mt-3 mb-3" href="{% url 'manage_inactive_school_staff' school.id %} " style="float:right"> Manage Inactive Staff</a>
    {% else %}
        <a class = "btn btn-sm btn-ISEIblue3 mt-3 mb-3" href="{% url 'manage_school_staff' school.id  %}" style="float: right"> Manage Active Staff </a>
    {% endif %}
</p>



    <table class="table table-striped" id="myTable">
        <thead class="thead-dark">
        <tr>
            <th><a onclick="sortTable(0)"><i class="fa-solid fa-arrow-down-a-z"></i></a>  Name</th>
            <th>Username</th><th><a onclick="sortTable(2)"><i class="fa-solid fa-arrow-down-a-z"></i></a>  Role</th>
            <th>Email</th> <th>Phone Number</th><th><a onclick="sortTable(6)"><i class="fa-solid fa-arrow-down-a-z"></i></a>  Status</th><th><th></th>
        </tr>
        </thead>

        <tbody>
        {% for i in staff %}
            <tr>
                <td>{{ i.last_name }}, {{ i.first_name }}</td>
                <td>{{ i.username }}</td>
                    <td>{% for g in i.groups.all %} {{ g }}<br> {% endfor%}</td>
                <td>{{ i.email }}</td>
                <td> {{ i.profile.phone_number }}</td>
                <td> {% if i.is_active %} <div class="spangreen">Active</div>
                    {% else %} Inactive {% endif %}
                </td>
                <td>
                    <a class = "btn btn-sm iseiblue3" href="{% url 'update_school_staff' i.id  %}">Update</a>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function sortTable(n) {
              var table, rows, switching, i, x, y, shouldSwitch;
              table = document.getElementById("myTable");
              switching = true;
              /*Make a loop that will continue until
              no switching has been done:*/
              while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                  //start by saying there should be no switching:
                  shouldSwitch = false;
                  /*Get the two elements you want to compare,
                  one from current row and one from the next:*/
                  x = rows[i].getElementsByTagName("TD")[n];
                  y = rows[i + 1].getElementsByTagName("TD")[n];
                  //check if the two rows should switch place:
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
                if (shouldSwitch) {
                  /*If a switch has been marked, make the switch
                  and mark that a switch has been done:*/
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
                }
              }
            }
    </script>

{% endblock %}