{%  extends 'base.html' %}
  {% load static %}


  {% block title %} Manage Students {% endblock title %}


{% block content %}

<!-- filter if we need to make not active students that have not graduated -->
{% if not grads_only %}
    <div class="col mt-2 mb-2">
            <form method="get">
                    {{ student_filter.form}}
                <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp;
                <a href="{%  url 'mark_inactive_students' school.id %}">Clear all filters</a>
            </form>
    </div>
{% endif %}


    <form action="" method="POST" name ="mark_inactive_students">
        {% csrf_token %}
        <table class="table table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Name </th><th>Grad Year</th><th>Gender</th>
                    <th>Active</th><th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {{ student_formset.management_data }}
                {{ student_formset.management_form }}

                {% for form in student_formset %}
                    {{ form.non_field_errors }}
                    <tr>
                        <td>{{ form.instance.last_name }}, {{ form.instance.first_name }}</td>
                        <td>{{ form.instance.student.graduation_year }}</td>
                        <td>{{ form.instance.student.get_gender_display }}</td>
                        <td> {{ form.is_active }}{{ form.is_active.errors }}</td>
                        <td>{{ form.DELETE }}{{ from.DELETE.errors }}</td>
                    </tr>
                    {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                {% endfor %}

            </tbody>
        </table>


        {% if not grads_only %}
            <input class="btn-ISEIblue3" type="submit" value="Submit Changes" name="submit_changes" >
            <a class ="btn btn-sm btn-ISEIblue3" onclick="history.back()" style="float:right"> Cancel </a>
        {% else %}
            <input class="btn-ISEIblue3" type="submit" value="Save" name="submit_changes" >
            * Ensure that all students whose status have changed are indeed no longer students at this school.
            Check the Active box if any of the students are continuing to attend this school.
        {% endif %}

    </form>

{% endblock %}