{%  extends 'base.html' %}
{% block navbar %}
    {% include 'navbar_login.html' %}
{% endblock navbar %}

{% block title %} Account {% endblock title %}

{% block content %}

	<h3> Password reset sent </h3>

	<p> If an account exists with the email you entered, we’ve emailed you instructions for setting your password. You should receive it shortly.</p>

    <p> If you don’t receive an email, please make sure you’ve entered the address correctly; check your spam folder also.</p>
    <p>Contact your school administrator if further help is needed.</p>

{% endblock %}
