{%  extends 'base.html' %}
{% block navbar %}
    {% include 'navbar_login.html' %}
{% endblock navbar %}

{% block title %} Reset Password {% endblock title %}

{% block content %}

<h5 class="mt-3"> Password reset </h5>

<p> New user or forgot your password? Enter your email address below, and we'll email instructions for (re)setting your password. </p>

<form method = "POST">
	{% csrf_token %}
	{{form}}
	<input type= "submit" class="btn btn-ISEIblue3 btn-sm" value = "Send Email">
</form>

{% endblock %}
