{%  extends 'base.html' %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% load group_tags %}

  {% block title %} Update instructor {% endblock title %}


{% block content %}

<div class="card card-body mt-2 padding">

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-auto">
                {{ form_user.first_name|as_crispy_field }}
                {{ form_user.last_name|as_crispy_field  }}
                {{ form_user.email|as_crispy_field }}
                {{ form_profile.phone_number|as_crispy_field }}

            </div>
            <div class="col-sm-auto">
                {{ form_user.username|as_crispy_field }}
                <input type="hidden" name="next" value="{{ request.path }}">
             <input class="btn btn-sm btn-ISEIblue3" type="submit" value ="Update"/>
            </div>
        </div>
    </form>
</div>

<script>

</script>

{% endblock content %}
