{%  extends 'base.html' %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% load group_tags %}
    {% load template_tags %}

  {% block title %} Edit Student {% endblock title %}


{% block content %}

<div class="card card-body mt-2 padding">
<!-- update student -->
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-auto">
                {{ form_user.first_name|as_crispy_field }}
                {{ form_user.last_name|as_crispy_field  }}
                {{ form_user.email|as_crispy_field }}
            </div>
            <div class="col-sm-auto">
                {{ form_student.gender|as_crispy_field }}
                {{ form_student.birthday|as_crispy_field }}
                {{ form_student.graduation_year|as_crispy_field }}
            </div>
            <div class="col-sm-auto">
                <tag>Username</tag><br><input type="text" id="internal_username" value="{{ form_user.instance.username|shortened_username }}" >
                {{ form_user.username }}

                <div class="mb-3 mt-5" >
                    <label for="id_is_active" class="control-label ">
                        Active <span class="asteriskField">*</span>
                    </label>
                    {{ form_user.is_active}} Uncheck if user is no longer a student at this school.
                </div>
             <input class="btn btn-sm btn-ISEIblue3" type="submit" value ="Save"/>

                {% if not has_grades %}
                    <a class ="btn btn-sm spanred" href="{% url 'delete_student' user.id  %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </form>

</div>

<script>
    $(document).ready(function() {
        $('#id_username').hide()
    });

    document.getElementById("internal_username").addEventListener("input", function(){
        const str=document.getElementById("id_username").value;
        const lastIndex = str.lastIndexOf("_");
        const before = str.slice(0, lastIndex);
        document.getElementById("id_username").value =  before + "_" + this.value;
     });

</script>

{% endblock content %}
