{%  extends 'base.html' %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% load group_tags %}
{% load template_tags %}

  {% block title %} Edit instructor {% endblock title %}


{% block content %}

<div class="card card-body mt-2 padding">

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-auto">
                {{ form_user.first_name|as_crispy_field }}
                {{ form_user.last_name|as_crispy_field  }}
                {{ form_user.email|as_crispy_field }}
                {{ form_profile.phone_number|as_crispy_field }}
                <tag>Username</tag><br><input type="text" id="internal_username" value="{{ form_user.instance.username|shortened_username }}" >

                    {{ form_user.username}}
            </div>

            <div class="col-sm-auto">

            <div class="card mt-5">
                {% if user|in_group:"instructor" %}
                    <p><input class = "checkboxes ml-2" type="checkbox" id="instructor" name="instructor" label = "Instructor" checked> Instructor</p>
                {% else %}
                    <p><input class = "checkboxes ml-2" type="checkbox" id="instructor" name="instructor" label = "Instructor" > Instructor</p>
                {% endif %}

                 {% if user|in_group:"vocational_coordinator" %}
                    <p><input class = "checkboxes ml-2" type="checkbox" id="vocational_coordiantor" name="vocational_coordinator" label = "Vocational Coordinator" checked> Vocational Coordinator</p>
                 {% else %}
                     <p><input class = "checkboxes ml-2" type="checkbox" id="vocational_coordiantor" name="vocational_coordinator" label = "Vocational Coordinator"> Vocational Coordinator</p>
                {% endif %}

                {% if user|in_group:"school_admin" %}
                    <p><input class = "checkboxes ml-2" type="checkbox" id="school_admin" name="school_admin" label = "School Admin" checked> School Admin</p>
                {% else %}
                    <p><input class = "checkboxes ml-2" type="checkbox" id="school_admin" name="school_admin" label = "School Admin"> School Admin</p>
                {% endif %}

                {% if user|in_group:"inactive_staff" %}
                    <p><input class = "checkbox ml-2" type="checkbox" id="inactive_staff" name="inactive_staff" label = "Inactive Staff" checked> Inactive Staff</p>
                {% else %}
                    <p><input class = "checkbox ml-2" type="checkbox" id="inactive_staff" name="inactive_staff" label = "Inactive Staff"> Inactive Staff</p>
                {% endif %}
            </div>
            <br>
                <br>

                <input type="hidden" name="next" value="{{ request.path }}">
             <input class="btn btn-sm btn-ISEIblue3" type="submit" value ="Save"/>
            {% if not data_exists %}
                <a class ="btn btn-sm spanred" href="{% url 'delete_school_staff' user.id  %}">Delete</a></td>
            {% endif %}
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){

        $('#id_username').hide()

        var checkboxes = $('.checkboxes');
        checkboxes.change(function(){
            if($('.checkboxes:checked').length>0) {
                $('#inactive_staff').prop('checked', false);
            } else {
                $('#inactive_staff').prop('checked', true);
            }
        });

        $('#inactive_staff').change(function() {
            if (document.getElementById('inactive_staff').checked) {
                $('.checkboxes').prop('checked', false);
            } else {
                $('.checkboxes').prop('checked', true);
            };
        });

    });

     document.getElementById("internal_username").addEventListener("input", function(){
            const str=document.getElementById("id_username").value;
            const lastIndex = str.lastIndexOf("_");
            const before = str.slice(0, lastIndex);
            document.getElementById("id_username").value =  before + "_" + this.value;
     });



</script>

{% endblock content %}
