{% load static %}
{% load group_tags %}


<nav class ="navbar navbar-expand-md navbar-dark bg-ISEIblue3 noprint fixed-top">
    <img src="{% static 'appfiles/VestLogoBLK.png' %}" width="120" height="60" alt="VEST Logo">
     <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
<!-- ISEI Admin Links -->
                        {% if request.user|in_group:"isei_admin"%}
                            <li class="nav-item isei_admin">
                                <a class="nav-link" href="{% url 'isei_admin_dashboard' %}">Home </a>
                            </li>
                            <li class="nav-item isei_admin">
                                <a class="nav-link" href="{% url 'isei_data_summary'%}">Data Summary </a>
                            </li>

                            <li class="nav-item dropdown isei_admin">
                              <a class="nav-link dropdown-toggle p-3" href="#" id="iseiadminDataManagementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Data Management
                              </a>
                              <ul class="dropdown-menu bg-ISEIblue3" aria-labelledby="navbarDropdown">
                                  <li>
                                    <a class="nav-link float-right" href="{% url 'add_school' %}"> Add School</a>
                                </li>
                                <li>
                                    <a class="nav-link float-right" href="{% url 'add_school_admin' %}"> Add School Admin </a>
                                </li>
                              </ul>
                            </li>


                        {% endif %}

<!-- School Admin Links -->

                        {% if request.user|in_group:"school_admin" %}
                            <li class="nav-item school_admin">
                                <a class="nav-link" href="{% url 'school_admin_dashboard' request.user.profile.school.id %}">Dashboard </a>
                            </li>

                            <li class="nav-item dropdown school_admin ">
                              <a class="nav-link dropdown-toggle p-3" href="#" id="schoolAdminUserMangementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User Management
                              </a>
                              <ul class="dropdown-menu bg-ISEIblue3 ml-0 school_admin" aria-labelledby="navbarDropdown">
                                  <li>
                                    <a class="nav-link float-left" href="{% url 'manage_school_staff' request.user.profile.school.id %}"> School Staff</a>
                                </li>
                                <li>
                                    <a class="nav-link float-left" href="{% url 'manage_students' request.user.profile.school.id %}"> Students/Parents </a>
                                </li>
                              </ul>
                            </li>

                            <li>
                                <a class="nav-link school_admin" href="{% url 'school_year' request.user.profile.school.id %}"> School Year </a>
                            </li>
                            <li class="nav-item school_admin">
                                <a class="nav-link" href="{% url 'school_settings' request.user.profile.school.id %}">Settings</a>
                            </li>

                        {% endif %}

                        {% if request.user|in_group:"vocational_coordinator" %}
                            <li class="nav-item vocational_coordinator">
                                <a class="nav-link" href="{% url 'vocational_coordinator_dashboard' request.user.profile.school.id %}">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown vocational_coordinator">
                              <a class="nav-link dropdown-toggle p-3" href="#" id="schoolAdminDataManagementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Data Management
                              </a>
                              <ul class="dropdown-menu bg-ISEIblue3" aria-labelledby="navbarDropdown" style = "width: auto">
                                  <li>
                                      <a class="nav-link " href="{% url 'department_list' request.user.profile.school.id %}"> Departments </a>
                                  </li>
                                  <li>
                                    <a class="nav-link" href="{% url 'skill_list' request.user.profile.school.id %}"> Skills</a>
                                  </li>
                                  <li>
                                    <a class="nav-link" href="{% url 'instructor_assignment' request.user.profile.school.id %}">Instructor Assignment</a>
                                  </li>
                                  <li>
                                    <a class="nav-link" href="{% url 'student_assignment' request.user.profile.school.id %}">Student Assignment</a>
                                  </li>
                              </ul>
                            </li>
                            <li>
                                <a class="nav-link vocational_coordinator" href="{% url 'grade_list' request.user.id %}"> Grade List </a>
                            </li>
                            <li>
                            <a class="nav-link vocational_coordinator " href="{% url 'vc_validate_grades' request.user.profile.school.id %}"> Validate Grades </a>
                            </li>

                        {% endif %}

                        {% if request.user|in_group:"instructor" %}
                                <li class="nav-item instructor">
                                    <a class="nav-link" href="{% url 'instructor_dashboard' request.user.id %}">Dashboard</a>
                                </li>
                            <!--
                                <li class="nav-item dropdown instructor">
                                  <a class="nav-link dropdown-toggle p-3" href="#" id="schoolAdminDataManagementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Grades
                                  </a>
                                    <ul class="dropdown-menu bg-ISEIblue3" aria-labelledby="navbarDropdown" style = "width: auto">
                                      <li>
                                          <a class="nav-link " href="{% url 'grade_list' request.user.id %}"> Grade List </a>
                                      </li>
                                      <li>
                                        <a class="nav-link" href="{% url 'initiate_grade_entry' request.user.profile.school.id %}"> Enter Grades</a>
                                      </li>
                                  </ul>
                                </li> -->
                               <li class="nav-item instructor">
                                  <a class="nav-link " href="{% url 'grade_list' request.user.id %}"> Grade List </a>
                              </li>
                              <li class="nav-item instructor">
                                <a class="nav-link" href="{% url 'initiate_grade_entry' request.user.profile.school.id %}"> Enter Grades</a>
                              </li>

                        {% endif %}

                        {% if request.user|in_group:"parent" %}

                            <li class="nav-item parent">
                                <a class="nav-link" href="{% url "parent_page" request.user.id %}">Parent Page</a>
                            </li>

                        {% endif %}

                        {% if request.user|in_group:"student" %}
                            <li class="nav-item student">
                                <a class="nav-link" href="{% url "student_page" request.user.id %}">Student Page</a>
                            </li>
                        {% endif %}

                    {% endif %}
                </ul>
            </div>


<!-- Dropdown to allow for user group selection -->

{% if user.is_authenticated and user.is_active%}
    <span>
    <div class="col">
        <div class ="name-msg text-light"> {{request.user.first_name}} {{request.user.last_name}} </div>
        {% if request.user|in_more_groups %}
            <select class="bg-ISEIblue3 text-light" id="id_group" name="group">
                {% for g in request.user.groups.all %}
                    <option class="text-light" value="{{g.name}}">{{g.name}}</option>
                {% endfor %}
                <div style="display: none" id="group_info" data-value="more"></div>
            </select>
        {% else %}
            <div class="text-light" id="one_group">{{ request.user.groups.all.first }}</div>
            <div style="display: none" id="group_info2" data-value="one">One</div>
        {% endif %}
    </div>
    </span>
        <a href="{% url 'logout' %}" class="text-ISEIyellow">Logout</a>
{% endif %}

     </div>
</nav>

<script type="text/javascript">

    var g_i = "{{request.user|in_more_groups}}";

    window.addEventListener("load", function() {
        if (g_i == 'True') {
            var group = sessionStorage.getItem("Group")
            $('#id_group').val(group);
            if (!$('#id_group').val()) {
                if (document.getElementById('id_group')) {
                    document.getElementById('id_group').selectedIndex = "0";
                    group = $('#id_group').val();
                }
            };
            navbar_refresh(group);
        }
    });

 //on group change, update selected item in sessions, refresh navbar and page
    $('#id_group').change(function() {
        var group = $(this).val();
        sessionStorage.setItem("Group", group);
        url_refresh(group);
    });


//refresh page based on selected value for user group
    function url_refresh(group){
        var url = "{% url 'crash' %}";
         switch (group) {
            case "school_admin":
                url="{% url 'school_admin_dashboard' request.user.profile.school.id %}";
                break;
            case "vocational_coordinator":
                url="{% url 'vocational_coordinator_dashboard' request.user.profile.school.id %}";
                break;
            case "instructor":
                url="{% url 'instructor_dashboard' request.user.id %}";
                break;
            case "parent":
                url="{% url "parent_page" request.user.id %}";
                break;
            default:
                url = "{% url 'crash' %}";
        }
        window.location.href = url;
        //window.open(url,"_self");
    }

 //Refresh navbar based on selected value for user group
    function navbar_refresh(group){
        for (let element of document.querySelectorAll(".school_admin, .instructor, .vocational_coordinator, .parent")){
            element.style.display="none";
            };
        for (let element of document.getElementsByClassName(group)){
            element.style.display="";
        };
    };

</script>